.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  background-color: #ff7b10;
  color: #fff;
  border-color: #ff7b10;
  font-size: 2rem;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
