input[type="submit"].button-primary,
input[type="submit"].button-primary:focus {
  background-color: #ff7b10;
  color: #fff;
  border-color: #ff7b10;
  font-size: 2rem;
}

input[type="submit"].button-primary:hover {
  color: #fff;
  background-color: #db6300;
  border-color: #db6300;
}

input[type="text"]:focus {
  border: 1px solid #ff7b10;
}

.container {
  margin-top: 10%;
  transition: linear 200ms;
}

.centered {
  text-align: center;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.hidden {
  display: none;
}

.error {
  color: #c00;
  font-weight: bold;
  font-size: 1.8rem;
}

table {
  width: 100%;
}

th:first-child {
  width: 25%;
  padding-left: 15px;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
}

.grayBg {
  background-color: #eee;
}

/* Smaller than phablet (just before grid becomes active) */
@media (max-width: 549px) {
  .row.flex.inputs {
    align-items: stretch;
    flex-direction: column;
  }
}
